<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col-10">
      <button class="btn btn-primary" routerLink="create">Create</button>
      <table id="tableCustomer" class="table table-striped table-bordered" style="width: 100%">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Code</th>
          <th scope="col">Name</th>
          <th scope="col">Date of birth</th>
          <th scope="col">ID Card</th>
          <th scope="col">Email</th>
          <th scope="col">Gender</th>
          <th scope="col">Phone</th>
          <th scope="col">Address</th>
          <th scope="col">Type customer</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let customer of customers| slice: (page-1) * pageSize : page * pageSize; index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{customer.code}}</td>
          <td>{{customer.name}}</td>
          <td>{{customer.birthday}}</td>
          <td>{{customer.idCard}}</td>
          <td>{{customer.email}}</td>
          <td>{{customer.gender}}</td>
          <td>{{customer.phone}}</td>
          <td>{{customer.address}}</td>
          <td>{{ customer.typeCustomer['name']}}</td>
          <td><button class="btn btn-success" [routerLink]="['update',customer.id]">Edit</button></td>
          <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" (click)="send(customer.id)">Delete</button></td>
        </tr>
        </tbody>
      </table>
      <ngb-pagination class="float-right" [collectionSize]="30" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
    </div>
    <div class="col"></div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to delete customer has code <span style="color: red">{{tempCode}}</span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="deleteCustomer()">Delete</button>
      </div>
    </div>
  </div>
</div>

