<!--Form Create-->
<form>
  <div class="form-group">
    <label for="code">Contract code</label>
    <input type="text" class="form-control" id="code" placeholder="Contract's code">
  </div>
  <div class="form-group">
    <label for="deposit">Deposit</label>
    <input type="text" class="form-control" id="deposit" placeholder="Deposit">
  </div>
  <div class="form-group">
    <label for="startDate">Start date</label>
    <input type="date" class="form-control" id="startDate" placeholder="Start date">
  </div>
  <div class="form-group">
    <label for="endDate">End date</label>
    <input type="date" class="form-control" id="endDate" placeholder="End date">
  </div>

  <div class="form-group">
    <label for="cusCode">Customer code</label>
    <select class="form-control" id="cusCode">
      <option>KH-0001</option>
      <option>KH-0002</option>
    </select>
  </div>
  <div class="form-group">
    <label for="serCode">Service code</label>
    <select class="form-control" id="serCode">
      <option>DV-0001</option>
      <option>DV-0002</option>
    </select>
  </div>
  <div class="form-group">
    <label for="degree">Employee code</label>
    <select class="form-control" id="degree">
      <option>NV-0001</option>
      <option>NV-0002</option>
    </select>
  </div>
  <div class="form-group" style="text-align: left">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
