<button class="btn btn-primary" routerLink="customer/create"></button>
<table id="tableCustomer" class="table table-striped table-bordered" style="width: 100%">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Code</th>
    <th scope="col">Name</th>
    <th scope="col">Date of birth</th>
    <th scope="col">ID Card</th>
    <th scope="col">Phone</th>
    <th scope="col">Address</th>
    <th scope="col">Position</th>
    <th scope="col">Education Degree</th>
    <th scope="col">Division</th>
    <th scope="col">Salary</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees; index as i">
    <th scope="row">{{i+1}}</th>
    <td>{{employee.code}}</td>
    <td>{{employee.name}}</td>
    <td>{{employee.birthday}}</td>
    <td>{{employee.idCard}}</td>
    <td>{{employee.email}}</td>
    <td>{{employee.gender}}</td>
    <td>{{employee.phone}}</td>
    <td>{{employee.address}}</td>
    <td>{{employee.position}}</td>
    <td>{{employee.educationDegree}}</td>
    <td>{{employee.division}}</td>
    <td>{{employee.salary}}</td>
  </tr>
  </tbody>
</table>
