<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary" routerLink="create"></button>
      <table id="tableCustomer" class="table table-striped table-bordered" style="width: 100%">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Code</th>
          <th scope="col">Name</th>
          <th scope="col">Date of birth</th>
          <th scope="col">ID Card</th>
          <th scope="col">Phone</th>
          <th scope="col">Address</th>
          <th scope="col">Position</th>
          <th scope="col">Education Degree</th>
          <th scope="col">Division</th>
          <th scope="col">Salary</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employee of employees; index as i">
          <th scope="row">{{i + 1}}</th>
          <td>{{employee.code}}</td>
          <td>{{employee.name}}</td>
          <td>{{employee.birthday}}</td>
          <td>{{employee.idCard}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.gender}}</td>
          <td>{{employee.phone}}</td>
          <td>{{employee.address}}</td>
          <td>{{employee.position}}</td>
          <td>{{employee.educationDegree}}</td>
          <td>{{employee.division}}</td>
          <td>{{employee.salary}}</td>
          <td>
            <button class="btn btn-outline-success" [routerLink]="['update',employee.id]">Edit</button>
          </td>
          <td>
            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal"
                    (click)="send(employee.id)">Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="float-right clearfix">
        <ngb-pagination [collectionSize]="30" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to delete customer has code <span style="color: red">{{tempCode}}</span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="deleteEmployee()">Delete</button>
      </div>
    </div>
  </div>
</div>
